Repository OneStock-Retail/onestock-magento-connector: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code-analysis-core, code-analysis-deliverypromise

.gitlab-ci.yml:

default:
    image: registry.smile.fr/magento2/php:8.1-fpm-dev-1
    tags:
        - galaxy-docker-shared
    cache:
        - key: composer-cache
          paths:
              - .composer-cache/
    before_script:
        - composer config -g cache-dir "$(pwd)/.composer-cache"

code-analysis-core:
    stage: test
    script:
        - cd src/module-onestock-connector
        - composer install --no-interaction
        - composer audit --format=plain
        - vendor/bin/parallel-lint --exclude vendor .
        - vendor/bin/phpcs --extensions=php,phtml
        - vendor/bin/phpcs --extensions=php,phtml --standard=Magento2 --severity=9 --ignore=vendor .
        - vendor/bin/phpstan analyse
    rules:
    - changes:
        - src/module-onestock-connector/**/*

code-analysis-deliverypromise:
    stage: test
    script:
        - cd src/module-onestock-deliverypromise
        - composer config repositories.repo-name path ../module-onestock-connector
        - composer config minimum-stability dev
        - composer config prefer-stable true
        - composer install --no-interaction
        - composer audit --format=plain
        - vendor/bin/parallel-lint --exclude vendor .
        - vendor/bin/phpcs --extensions=php,phtml
        - vendor/bin/phpcs --extensions=php,phtml --standard=Magento2 --severity=9 --ignore=vendor .
        - vendor/bin/phpstan analyse
    rules:
    - changes:
        - src/module-onestock-deliverypromise/**/*

compile:
    stage: test
    script:
        - mkdir -p .magento
        - cd .magento
        - rm -rf app/code/Smile/
        - stat composer.json || composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .
        - mkdir -p app/code/Smile/
        - mv ../src/module-onestock-connector app/code/Smile/Onestock
        - mv ../src/module-onestock-deliverypromise app/code/Smile/OnestockDeliveryPromise
        - bin/magento module:enable --all
        - bin/magento setup:di:compile
    cache:
        paths:
            - .magento

Enforce v2 api
  src/module-onestock-connector/CHANGELOG.md
  src/module-onestock-connector/Model/Request/Authentication.php
  src/module-onestock-connector/Model/Request/Orders.php
  src/module-onestock-connector/Observer/Mapping/Order/Config.php
  src/module-onestock-connector/Observer/Mapping/Order/Price.php
  src/module-onestock-connector/etc/fieldset.xml
  src/module-onestock-deliverypromise/CHANGELOG.md
  src/module-onestock-deliverypromise/Model/Request/Promise.php
  src/module-onestock-deliverypromise/Plugin/AddPromiseToRate.php
Due: code-analysis-core, code-analysis-deliverypromise

Fix error if method is unavailable but shall be displayed at magento level
  src/module-onestock-deliverypromise/view/frontend/web/js/product/promise.js
Due: code-analysis-deliverypromise

Fix swagger generator
  src/module-onestock-deliverypromise/Api/ShipmentInterface.php
  src/module-onestock-deliverypromise/etc/webapi.xml
Due: code-analysis-deliverypromise

Use the new documentation
  src/module-onestock-connector/Observer/Mapping/Order/Config.php
Due: code-analysis-core

Change webhook interface contract
  src/module-onestock-connector/Api/OrderUpdateInterface.php
  src/module-onestock-connector/Service/OrderUpdate.php
  src/module-onestock-connector/Test/Local/Sales/ImportTest.php
  src/module-onestock-connector/Test/Local/Sales/RefundTest.php
  src/module-onestock-connector/etc/webapi.xml
Due: code-analysis-core

Wait for invoice before exporting order
  src/module-onestock-connector/Api/Data/ConfigInterface.php
  src/module-onestock-connector/Helper/Config.php
  src/module-onestock-connector/Model/Config/Source/OrderExportMode.php
  src/module-onestock-connector/Observer/ExportNewOrder.php
  src/module-onestock-connector/etc/adminhtml/system.xml
  src/module-onestock-connector/etc/config.xml
  src/module-onestock-connector/etc/events.xml
  src/module-onestock-connector/i18n/fr_FR.csv
Due: code-analysis-core

Fix async operation parameter name
  src/module-onestock-connector/Service/OrderUpdate.php
Due: code-analysis-core

Fetch file from remote ftp
  src/module-onestock-connector/Model/Config/Source/Cleanup.php
  src/module-onestock-connector/Model/Handler/Stock/Configure.php
  src/module-onestock-connector/Model/Handler/Stock/FileExists.php
  src/module-onestock-connector/Model/Handler/Stock/Ftp.php
  src/module-onestock-connector/etc/adminhtml/system.xml
  src/module-onestock-connector/etc/config.xml
  src/module-onestock-connector/etc/di.xml
  src/module-onestock-connector/i18n/fr_FR.csv
Due: code-analysis-core

Make sure the order is send on invoice event
  src/module-onestock-connector/Observer/ExportInvoicedOrder.php
  src/module-onestock-connector/etc/events.xml
Due: code-analysis-core

Make sure the order is send on invoice event
  src/module-onestock-connector/Observer/AddOrderToExportQueue.php
  src/module-onestock-connector/Observer/ExportInvoicedOrder.php
  src/module-onestock-connector/Observer/ExportNewOrder.php
  src/module-onestock-connector/etc/events.xml
Due: code-analysis-core

Specific name for field in database
  src/module-onestock-connector/Cron/RetryOrderExport.php
  src/module-onestock-connector/Service/OrderExport.php
  src/module-onestock-connector/etc/db_schema.xml
Due: code-analysis-core

Hide notification and if enabled, log to debug file instead
  src/module-onestock-connector/Cron/RetryOrderExport.php
  src/module-onestock-connector/Observer/AddOrderToExportQueue.php
Due: code-analysis-core

Refund shipping only on the lattest creditmemo
  src/module-onestock-connector/Model/Handler/OrderUpdate/Remove.php
Due: code-analysis-core

Export carrier name
  src/module-onestock-connector/Observer/Mapping/Order/Delivery.php
Due: code-analysis-core

Rename package to onestock/onestock-magento-connector
  composer.json
Due: none

Add .gitignore
  .gitignore
Due: none

Update README.md and ISSUE_TEMPLATE.md
  ISSUE_TEMPLATE.md
  README.md
Due: none

Set package version to 1.0.0
  composer.json
Due: none

Remove version from composer.json
  composer.json
Due: none

Add billing address details
  src/module-onestock-connector/Observer/Mapping/Order/Delivery.php
  src/module-onestock-connector/Observer/Mapping/Order/Price.php
Due: code-analysis-core

Checkstyle remove UselessAnnotation
  src/module-onestock-connector/Model/Config/Source/Cleanup.php
  src/module-onestock-connector/Model/Config/Source/OrderExportMode.php
Due: code-analysis-core

Eventually remove custom carrier name
  src/module-onestock-connector/Observer/Mapping/Order/Delivery.php
Due: code-analysis-core

Rename key for ruleset
  src/module-onestock-connector/Observer/Mapping/Order/Config.php
Due: code-analysis-core

Add extra an status as eligible for shipment
  src/module-onestock-connector/Model/Handler/OrderUpdate/Parcel.php
Due: code-analysis-core

Handle event paypal_checkout_success
  src/module-onestock-connector/Observer/AddOrderToExportQueue.php
  src/module-onestock-connector/etc/events.xml
Due: code-analysis-core
